html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
}

header {
  width: 100%;
  height: 150px;
  padding: auto;
  background-color: #C46210;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 200;
  position: fixed;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 90%;
  padding: 0;
}

.Nav {
  width: 80px;
  height: 20px;
  background: #fff;
  display: block;
  margin: 5px;
  border-radius: 15px;
}

.logo {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  border-radius: 50%;
  margin-right: 60%;
}

main {
  top: 150px;
  width: 100%;
  height: 1000px;
  /*display: flex;*/
  position: relative;
  /*flex-direction: colomn;*/
  justify-content: center;
  align-item: center;
  z-index: 100;
}

.bg {
  position: fixed; 
  top: 300; 
  left: 0; 
	
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
}

.description {
  max-width: 1250px;
  margin: auto;
}